.site-layout-sidebar {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}

@media screen and (max-width: 767px) {
  .site-layout-sidebar {
    display: none;
  }
}

.nav-link {
  text-decoration: none;
  color: black;
}

.site-tab-item {
  display: flex;
  align-items: center;
  padding-left: 25px;
}

.nav-tab-icon {
  margin-top: 0;
  margin-bottom: 0;
  height: 14px;
  margin-right: 8px;
}

.sidebar-bottom-section {
  margin-bottom: 20px;
  padding: 20px;
}

.social-media-logos-container {
  display: flex;
  margin-top: 23px;
  margin-bottom: 23px;
}
